$body-backgroud-color: hsla(0, 0%, 84%, 1);
$nav-text-background-color: hsla(208, 98%, 10%, 1);
$footer-background-color: hsla(186, 58%, 85%, 1);
$mainPostsPage-background-post-color: hsla(105, 100%, 88%, 1);

$nav-text-color: hsla(208, 98%, 96%, 1);
$footer-text-color: hsla(208, 39%, 4%, 1);


$mainIndex-reference-color: hsla(0, 0%, 0%, 1);
$mainIndex-header-font-size: 24px;
$mainIndex-text-font-size: 16px;

$mainPostsPage-header-font-size: 16px;
$mainPostsPage-text-font-size: 12px;
$mainPostsPage-reference-font-size: 16px;
$mainPostsPage-text-color: hsla(208, 39%, 4%, 1);

$mainPost-header-font-size: 24px;
$mainPost-text-font-size: 16px;
$mainPost-reference-font-size: 16px;
$mainPostPage-text-color: hsla(208, 39%, 4%, 1);

$mainFeedBack-header-font-size: 24px;
$mainFeedBack-text-font-size: 16px;
