$body-backgroud-color: hsla(0, 0%, 84%, 1);
$nav-text-background-color: hsla(208, 98%, 10%, 1);
$footer-background-color: hsla(186, 58%, 85%, 1);
$main-posts-page-background-post-color: hsla(105, 100%, 88%, 1);

$nav-text-color: hsla(208, 98%, 96%, 1);
$footer-text-color: hsla(208, 39%, 4%, 1);


$main-index-reference-color: hsla(0, 0%, 0%, 1);
$main-index-header-font-size: 24px;
$main-index-text-font-size: 16px;

$main-posts-page-header-font-size: 16px;
$main-posts-page-text-font-size: 12px;
$main-posts-page-reference-font-size: 16px;
$main-posts-page-text-color: hsla(208, 39%, 4%, 1);

$main-post-header-font-size: 24px;
$main-post-text-font-size: 16px;
$main-post-reference-font-size: 16px;
$main-post-page-text-color: hsla(208, 39%, 4%, 1);

$main-feed-back-header-font-size: 24px;
$main-feed-back-text-font-size: 16px;
