.footerReferenceBlock
	a.footerReference(href = 'index.html') blog-applecation.net
.footerSiteInformation
	p.siteInformation Вы дошли до конца! Читать больше нечего!
.contactsInSocialSiteBlock
	p.siteInformation Work in progress!