nav.navigation-block 
	.reference-block
		a.reference(href = 'index.html') Главная
		a.reference(href = 'postsPage.html') Посты
		a.reference(href = 'feedback.html') Обратная связь
	.about-site-block 
		p.about-site-paragraph Добро пожаловать на blog-application.net - блог обо всем и ниочем!