nav.navigationBlock 
	.referenceBlock
		a.reference(href = 'href1') Главная
		a.reference(href = 'href2') Посты
		a.reference(href = 'href3') Обратная связь
	.aboutSiteBlock 
		p.aboutSiteParagraph Добро пожаловать на blog-application.net - блог обо всем и ниочем!