nav.navigationBlock 
	.referenceBlock
		a.reference(href = 'index.html') Главная
		a.reference(href = 'postsPage.html') Посты
		a.reference(href = 'href3') Обратная связь
	.aboutSiteBlock 
		p.aboutSiteParagraph Добро пожаловать на blog-application.net - блог обо всем и ниочем!