@import '../utils/vars';
    
.main-feed-back {
  background: $footer-background-color;
  margin: 0 auto;
  width: 50%;
}

.message-block {
  padding: 0% 1%;

  .comment-header {
    font-size: $main-feed-back-header-font-size;
    font-weight: bold;
    margin: 12px 0;
  }

  .comment-message {
    font-size: $main-feed-back-text-font-size;
  }
}

.write-your-comment-block {
  margin-top: 24px;
  padding: 0% 1%;

  .invite-to-comment {
    font-size: $main-feed-back-text-font-size;
  }

  .comment-box {
    height: 50px;
    width: 98%;
  }

  .comment-button {
    margin: 12px 12px 12px 25%;
    width: 50%;
  }
}
