extends ../layout/main

block variables
	- var title = 'Обратная связь';
	- var mainBody = 'index-page';

block bodyContent
	main.main-feed-back
		.message-block
			h3.comment-header Comment #1 from User 1
			p.comment-message Cool blog! Well done!
		.message-block
			h3.comment-header Comment #2 from User 2
			p.comment-message Wait new article! 
		.write-your-comment-block
			h4.invite-to-comment Please, give feedback to me! It's important to next development of the blog.
			input.comment-box(type = 'text')
			button.comment-button Send feedback 		