extends ../layout/main

block variables
	- var title = 'Главная blog-application';
	- var mainBody = 'index-page';

block bodyContent
	main.main
		article.aboutBlog
			h2.header2 О блоге
			p.articleParagraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
			h2.header2 О авторе
			p.articleParagraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
			a.toPosts(href = 'postsPage.html') Перейти к постам


