extends ../layout/main

block variables
	- var title = 'Главная blog-application';
	- var mainBody = 'index-page';

block bodyContent
	main.main
		article.postsList
			.post
				h2.postHeader Еще один пост
				a.postReference(href = 'href6')
				p.postParagraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
