extends ../../main/main

block variables
	- var title = 'Посты';
	- var mainBody = 'index-page';

block body-content
	main.main-posts-page
		.post
			h2.post_header Пост Post от 3.04.2021
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.
		.post
			h2.post_header Пост Other post от xx.xx.xxxx
			a.post_reference(href = 'post.html') Смотреть полностью
			p.post_paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pharetra sagittis pellentesque. Nulla id urna augue. Nam non tristique purus, nec facilisis purus. Nulla vitae massa sit amet libero pulvinar bibendum. Cras malesuada nisi non urna imperdiet maximus. Ut id elementum lorem. Aenean accumsan ut ex eget pretium. Nullam sit amet sem felis. Pellentesque fringilla iaculis viverra. Quisque a lobortis nulla. Duis in turpis consequat sapien aliquet lobortis nec sit amet dolor. Suspendisse efficitur gravida.


